$color-ui-black: #333;
$color-ui-white: #fff;
$color-red: #da2323;
$color-dark-red: #b11e1e;
$color-dark-grey: #73777b;
$color-bright-grey: #f4f5f5;

$container-width: 1236px;
$container-gutter: 16px;
